/*Micellanous*/

body {

	margin: 0;
}


/*header*/

header {

	background-image: url('images/drawn_alien_heads.png');
	height: 10em;
	
	text-align: center;
	padding-top: 2em;
	font-family:'Dosis', sans-serif;

}


h1 a {

	text-decoration: none;
	color: green;
	font-size: 2em;

}

h3 {

	color: white;
}


/*navigation bar*/

nav ul {

	list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    overflow: hidden;
  
    /* FIXING THE BAR TO THE TOP OF THE PAGE
    position: fixed;
    top: 0;
    width: 100%;
    */

}

.active {

	background-color: black;
}

nav li {

	display: inline;
	font-size: 1.2em;
	padding-right: 1em;
	padding-left: 1em;

}

nav a {

	text-decoration: none;
    color: green;
}

nav li a:hover {

	color: white;
}


/*Content*/

.content {

	height: 30em;
}



/*footer*/

footer {

	height: 10em;
	background-color: black;
	color: white;
	padding-top: 2em;

}

.footer-text {

	margin-right: 2em;
	margin-left: 2em;
}

footer ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;

}

footer img {

	float: right;
	height: 2em;
}

footer li {

	display: inline;
	font-size: 1.2em;

}

footer p {

	float: left;
}

footer li a {

	text-decoration: none;
	color: green;
	padding: 1em;
}

footer li a:hover {

	color: white;
}

