/* Everything */

body {

	font-family:'Dosis', sans-serif;
	background-color: grey;
}

article {

	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
	background-color: #C0C0C0;

}

a {

	color: green;

}

/* Header*/

header {

	height: 150px; 
	margin: auto;
	text-align: center;
	background-image: url('images/drawn_alien_heads.png');

}

header h1 {

	color: white;
	padding-top: 20px;
	font-size: 2.5em;
}

header h2 {

	color: green;
	font-size: 1.8em;

}

/* footer */

footer {

	background-color: #2A2B2D;
	height: auto;
	margin: auto;
}

footer li {

	display: inline;
	padding: 0 10px 0 0;
}


.linkbar a {

	text-decoration: none;
	color: #767a7a;
	font-size: 20px;

}

footer #green a {

	text-decoration: none;
	color: green;
	font-size: 20px;
}


footer a:hover {

	text-decoration: none;
	color: white;
}

footer #green a:hover {

	text-decoration: none;
	color: white;
}


.footer-text {

	color: #545C5C;
	text-align: center;

}

footer ul {

	padding-top: 15px;
	text-align: center;

}

footer p {

	padding-left: 40px;
	margin-bottom: 0;
}

/* Content */

article img {

	max-width: 100%;
    height: auto;
}

.container {

	background-color: #C0C0C0;
	padding-top: 20px;

}

.container h1 {

	text-align: center;
	font-weight: bold;
}

.container img {

	max-width: 100%;

}

h2 a:hover {

	text-decoration: none;
	color: white;
}

h3 {

	padding-top: 10px;
}

.report-a-sighting-h1 {

	margin-bottom: 10px;
}

/*table*/

table img {

	height: 13em;
	width: 13em;
}

td {

	text-align: center;
}

.table-contact {

	overflow: scroll;
	min-width: 500px;
}
/*

.table-contact-us {

	overflow-x: auto;
	

}

.table-contact-us table, th, td {

	border: solid 1px black;
	padding: 5px;	

}

.table-contact-us th {

	text-align: center;
}
*/