/* Everything */

body {

	font-family:'Dosis', sans-serif;
	background-color: grey;
}

/* Header*/

header {

	height: 150px; 
	margin: auto;
	text-align: center;
	background-image: url('images/drawn_alien_heads.png');

}

header h1 {

	color: white;
	padding-top: 20px;
	font-size: 2.5em;
}

header h2 {

	color: green;
	font-size: 1.8em;

}

/* footer */

footer {

	background-color: #2A2B2D;
	height: 200px;
	margin: auto;
}

footer li {

	display: inline;
	padding: 0 10px 0 0;
}


.linkbar a {

	text-decoration: none;
	color: #767a7a;
	font-size: 20px;

}

footer #green a {

	text-decoration: none;
	color: green;
	font-size: 20px;
}


footer a:hover {

	text-decoration: none;
	color: white;
}

footer #green a:hover {

	text-decoration: none;
	color: white;
}


.footer-text {

	color: #545C5C;
	text-align: center;

}

footer ul {

	padding-top: 15px;
	text-align: center;

}

footer p {

	padding-left: 40px;
	margin-bottom: 0;
}

